.main {
    display: flex;
    width: 100vw;
    flex-direction: column;
    margin-top: 3%;
    overflow-y: scroll;
    height: 74.5vh;
}

.main-head {
    width: 71vw;
    text-align: left;
    font-size: 1.5rem;
    font-weight: 700;
    margin: auto;
}

.main-parent {
    display: flex;
    flex-direction: column;
    margin: auto;
}

::-webkit-scrollbar {
    width: 0px;
}